<% 
  #
  # Section d'accueil des analyses de films
  #
%>
<%= header %>
<%= titre_page("Les Analyses de films") %>

<fieldset id="fs_analyse_list">
  <legend>Analyses</legend>
  <%= Analyse.list_for(user) %>
</fieldset>

<p class="small">
  <span>Vous pouvez également </span>
  <%= simple_link("analyse/contribuer", 'contribuer aux analyses', 'exergue') %>
  <span> en participant à un projet d’analyse ou en l’initiant vous-même.</span>
</p>

<p class="small">
  <span>Ou vous pouvez encore </span>
  <%= simple_link("aide?p=analyses", 'consulter l’aide', 'exergue') %>
  <span> pour tirer pleinement profit de cette section.</span>
</p>

<%= footer %>
