<h3 class="titre_livre"><span class='titre_livre'>L'Analyse de films</span></h3>
<div class="liens_next_previous_pages top">
  
  <div class="cadre_links">
    <span class="lien_prev_page"><a href="narration/page/148">←</a></span>
    <span class="lien_main_page"><a href="narration/livre/10">Table des matières</a></span>
    <span class="lien_next_page"><a href="narration/page/152">→</a></span>
  </div>
  <div class="under_next_prev_links"><span class="fleft"><a href="narration">Tous les livres</a></span><span class="chap_titre"><a href="narration/page/140">Protocole d'analyse</a></span><span class="schap_titre"><a href="narration/page/148">Deuxième phase (collecte)</a></span></div>
</div>

<section id="page_narration-138" class="page_narration">
<h2 class="titre_page">Deuxième phase de l'analyse : la collecte</h2>

<!-- Page: #138 Deuxième phase de l'analyse : la collecte -->

<h3 id="introduction">Introduction</h3>

<p>La deuxième phase de l’analyse, peut-être la plus longue et la plus fastidieuse, va consister en une collecte rigoureuse, quasi <em>archéologique</em>, de tous les éléments narratifs du film.</p>

<p>Cette collecte doit permettre :</p>

<ul>
  <li>d’établir la <a href="scenodico/mot/122" class="mot">structure générale</a> et fonctionnelle du film,</li>
  <li>d’établir la <a href="scenodico/mot/279" class="mot">dynamique narrative</a>,</li>
  <li>d’établir les <a href="scenodico/mot/203" class="mot">fondamentales</a>,</li>
  <li>de procéder à l’analyse proprement dite.</li>
</ul>

<p>Procéder à cette collecte nécessite du temps. Mais si vous voulez procéder à une analyse rigoureuse, ne pas approcher artificiellement le film, si vous espérez ne pas tirer de conclusions oisives et hâtives, il est indispensable de prendre ce temps et de procéder à une relève minutieuse des éléments.</p>

<h3 id="lments--collecter">Éléments à collecter</h3>

<p>Dans cette collecte, les éléments suivants doivent être impérativement collectés (nous reviendrons sur chacun d’eux dans la suite) :</p>

<ul>
  <li>liste des scènes,</li>
  <li>liste des personnages,</li>
  <li>liste des objectifs, obstacles et conflits,</li>
  <li>liste des brins,</li>
  <li>liste des préparations/paiements,</li>
  <li>liste des procédés,</li>
  <li>liste des thèmes,</li>
  <li>liste des décors.</li>
</ul>

<h3 id="nota-bene-prliminaire">Nota bene préliminaire</h3>

<p>Il est entendu, ci-dessous, qu’on a effectué un premier visionnage du film avant d’amorcer la collecte. Ce premier visionnage doit rester un plaisir avant tout, ne pas être gâté par un travail d’analyse.</p>

<h4 id="liste-des-scnes">Liste des scènes</h4>

<p>L’objectif ici est d’obtenir un <a href="scenodico/mot/243" class="mot">scénier</a> complet du film, c’est-à-dire une liste chronologique et complète de toutes les scènes du film, même les plus courtes, en indiquant avec soin les temps de début de chacune d’elle. Note : vous pouvez retirer le temps du pré-générique — présentation des productions — s’il ne concerne pas le récit lui-même. Ce pré-générique dure en général autour d’une minute. Vous pouvez également indiquer le temps de la première scène et retirer plus tard ce temps à toutes les “horloges” que vous aurez relevées.</p>

<p>Nota bene : c’est au cours de l’établissement de ce scénier qu’on peut procéder à la relève de tous les autres éléments cités plus haut, mais il est également possible d’effectuer la collecte en plusieurs temps.</p>

<p>La collecte d’une scène peut ressembler à cela :</p>

<section class="document rapport"><div class="p">2:10:23 INT. BUREAU JOUR</div><div class="p"><%= user.pseudo %> prend son sac pour partir, mais il aperçoit par la fenêtre une jeune femme qui s’approche de sa voiture.</div><div class="p">OBS #15.4 : Il sait qu’il ne peut pas sortir et encore moins rejoindre son véhicule. “Ils” ont retrouvé sa trace.</div><div class="p">PROC #16 : Ironie dramatique sur la jeune femme. Elle ne sait pas que <%= user.pseudo %> l’a vue.</div><div class="p">BRINS : 12, 23, 54</div><div class="p">&nbsp;</div><div class="p">2:13:45 EXT. PARKING NUIT</div><div class="p">…</div></section>
<div class="document_legend">Extrait d’un document de collecte de scène</div>

<h4 id="liste-des-personnages">Liste des personnages</h4>

<p>Avant la collecte des scènes ci-dessus, on peut établir une liste complète des personnages principaux en prenant soin de relever leur patronyme exact. Si ce patronyme n’est pas précisé dans le film, on peut aller chercher ces informations sur l’<a href="http://www.imdb.com" target="_new">International Movie DataBase (IMDB)</a> ou d’autres sources d’informations.</p>

<p>Ensuite, pendant la collecte, on pourra préciser pour chaque personnage :</p>

<ul>
  <li>ses fonctions générales dans le récit (<a href="scenodico/mot/8" class="mot">protagoniste</a>, <a href="scenodico/mot/16" class="mot">antagoniste</a>, <a href="scenodico/mot/13" class="mot">adjuvant</a>, etc.),</li>
  <li>son <a href="scenodico/mot/64" class="mot">idiosyncrasie</a> et, notamment, ce qu’il a en propre par rapport aux autres personnages du film,</li>
  <li>sa façon de s’exprimer,</li>
  <li>les éléments remarquables qu’on peut noter le concernant, s’il y en a — un pouvoir particulier, une marque physique, un passé étonnant, etc.,</li>
  <li>la façon dont il est présenté à sa toute première apparition.</li>
</ul>

<p>Pour connaitre les personnages présents dans les scènes, on peut se faciliter les choses en partant du principe qu’on indique toujours en capitales, au moins une fois, un personnage présent dans une scène. Par exemple :</p>

<section class="document events,scenario,synopsis,brut plain,rapport,procedure"><div class="p">0:01:12</div><div class="p"><%= user.pseudo.upcase %> rencontre MATHIEU pour lui parler de Juliette. <%= user.pseudo %> explique qu’il doit la protéger.</div></section>

<p>Dans la scène ci-dessus, <personnage><%= user.pseudo %></personnage> et <personnage>Mathieu</personnage> sont présents, mais <personnage>Juliette</personnage> n’est pas présente. La deuxième fois qu’on mentionne <%= user.pseudo %>, il est inutile de le remettre en capitales (les capitales attirent l’œil, il est bon de ne pas en abuser).</p>

<h4 id="liste-des-objectifs-obstacles-et-conflits">Liste des objectifs, obstacles et conflits</h4>

<p>Relever la liste complète des <a href="scenodico/mot/10" class="mot">objectifs</a> de <em>chaque personnage</em> en précisant leur nature (conscient/inconscient, concret/abstrait). Relever les <a href="scenodico/mot/202" class="mot">moyens</a> qui sont utilisés pour atteindre ces objectifs, les <a href="scenodico/mot/83" class="mot">obstacles</a> auxquels se confronte le personnage et donc les <a href="scenodico/mot/118" class="mot">conflits</a> qui en résultent. Au cours de cette relève, on peut également préciser les <a href="scenodico/mot/49" class="mot">enjeux</a>.</p>

<p>Pour procéder de façon efficiente à cette relève, il est bon de numéroter chaque objectif — de lui donner un identifiant unique — afin de pouvoir y faire référence par la suite et d’y rapporter les obstacles et autres conflits.</p>

<p>Par exemple, le troisième objectif pourrait être désigné par : <code>OBJ #3</code>.</p>

<p>Les obstacles se rapportant à cet objectif reprendraient cet identifiant :</p>

<ul>
  <li>1<sup>er</sup> obstacle : <code>OBS #3.1</code> (signifie : obstacle 1 de l’objectif <code>#3</code>),</li>
  <li>2<sup>e</sup> obstacle  : <code>OBS #3.2</code>,</li>
  <li>3<sup>e</sup> obstacle :  <code>OBS #3.3</code>,
etc.</li>
</ul>

<p>Comme pour les éléments suivants, vous avez deux moyens (au moins) de relever ces objectifs et ces obstacles :</p>

<ul>
  <li>les relever dans la collecte des scènes,</li>
  <li>les relever dans un fichier à part.</li>
</ul>

<p>Dans la collecte des scènes :</p>

<section class="document rapport"><div class="p">2:13:45 EXT. PARKING NUIT</div><div class="p"><%= user.pseudo.upcase %> sort de l’ascenseur et avance […]</div><div class="p">OBJ #45 : <%= user.pseudo %> va devoir tenter de rejoindre sa voiture sans être pris.</div><div class="p">OBS #45.1 : La lumière du parking ne fonctionne plus, <%= user.pseudo %> se trouve dans le noir.</div><div class="p">…</div></section>
<div class="document_legend">Extrait du document de collecte des scènes</div>

<p>Ou on peut tenir un document qui liste ces objectifs et ces obstacles à part en précisant les scènes :</p>

<section class="document rapport"><div class="p">OBJECTIF #45</div><div class="p"><strong><%= user.pseudo.upcase %> va devoir tenter de rejoindre sa voiture sans être pris.</strong></div><div class="p">Implantation : 2:13:45</div><div class="p">OBSTACLES :</div><div class="p">#1 : 2:13:45 La lumière du parking ne fonctionne plus, <%= user.pseudo %> se trouve dans le noir.</div><div class="p">#2 : 2:15:25 Les hommes en noir sont autour de son véhicule.</div><div class="p">…</div></section>
<div class="document_legend">Extrait du document de thèmes</div>

<h4 id="liste-des-brins">Liste des brins</h4>

<p>Au fil de la collecte, on peut lister le plus de <a href="scenodico/mot/188" class="mot">brins</a> possible. Comme les objectifs et les obstacles, on peut les numéroter dans leur ordre de relève. Un nouveau document contiendra la définition de tous les brins, qui pourra ressembler à :</p>

<section class="document rapport"><div class="p">BRIN #1</div><div class="p"><strong><%= user.pseudo %></strong></div><div class="p">Ce brin concerne toutes les scènes où <%= user.pseudo %> est présent.</div><div class="p">&nbsp;</div><div class="p">BRIN #2</div><div class="p"><strong>Retrouver son frère</strong></div><div class="p">Ce brin concerne toutes les scènes de l’objectif principal de <%= user.pseudo %>.</div><div class="p">&nbsp;</div><div class="p">BRIN #3</div><div class="p"><strong>Relation entre <%= user.pseudo %> et Mathieu</strong></div><div class="p">Toutes les scènes qui concernent la relation entre <%= user.pseudo %>, le protagoniste, et Mathieu, son ancien prof de fac.</div><div class="p">&nbsp;</div><div class="p">…</div></section>
<div class="document_legend">Extrait du document de collecte de brins</div>

<p>Dans la scène collectée, on peut indiquer les brins qui sont mis en jeu sur une ligne préfixée “BRINS” — cf. ci-dessus.</p>

<h4 id="liste-des-thmes">Liste des thèmes</h4>

<p>On doit obtenir également une liste la plus complète possible des principaux <a href="scenodico/mot/112" class="mot">thèmes</a> abordés dans le film, qu’on classera par ordre d’importance.</p>

<p>Pour chacun d’eux, on pourra indiquer ce que les auteurs en disent, comment ils le développent, comment ils insèrent l’antithèse de leur propos, comment ils s’en servent par rapport à leur <a href="scenodico/mot/94" class="mot">prémisse</a> — si c’est le thème servant à établir la prémisse —, etc.</p>

<p>On pourra <em>identifier</em> chaque thème par un nombre afin d’y faire plus facilement référence dans la collecte des scènes : <code>THEME #1</code>, <code>THEME #2</code>, etc.</p>

<p>Là aussi, on peut soit indiquer le thème dans la collecte de la scène :</p>

<section class="document rapport"><div class="p">2:13:45 EXT. PARKING NUIT</div><div class="p"><%= user.pseudo.upcase %> sort de l’ascenseur et avance […]</div><div class="p">THEMES : #3, #6</div><div class="p">…</div></section>
<div class="document_legend">Extrait du document de collecte des scènes</div>

<p>Ou on peut tenir un document qui liste ces thèmes à part en précisant les scènes :</p>

<section class="document rapport"><div class="p">THEME #3</div><div class="p"><strong>L’exploitation des sous-sols</strong></div><div class="p">Le film exploite souvent les décors souterrains, parking, égouts, canalisations, etc.</div><div class="p">SCÈNES : 5:45, 23:25, 1:12:00, 1:54:42, 2:13:45</div><div class="p">…</div></section>
<div class="document_legend">Extrait du document de thèmes</div>

<h4 id="liste-des-procds">Liste des procédés</h4>

<p>Il va s’agir aussi pendant cette phase de collecte rigoureuse de relever le maximum de <a href="scenodico/mot/249" class="mot">procédés narratifs</a> utilisés.</p>

<p>Dans les premiers temps de vos analyses, soyez particulièrement vigilant<%=user.f_e%> en ce qui concernent les <a href="scenodico/mot/95" class="mot">préparations/paiements</a> ainsi que les <a href="scenodico/mot/19" class="mot">ironies dramatiques</a> qui peuvent faire l’objet d’une liste séparée. Dans le cas contraire, vous pouvez <em>identifier</em> ces procédés par un préfixe différent :</p>

<ul>
  <li>les préparations/paiements (<code>PP</code>),</li>
  <li>les ironies dramatiques (<code>IRDR</code>),</li>
  <li>les autres procédés (<code>PROC</code>).</li>
</ul>

<p>Comme pour les éléments précédents, vous pouvez soit introduire ces éléments dans les scènes collectées, soit établir une liste séparée renvoyant aux scènes.</p>

<h4 id="liste-des-dcors">Liste des décors</h4>

<p>La liste des décors peut tout à fait s’établir à la fin de la collecte des scènes. Il faut indiquer scrupuleusement s’il s’agit d’un lieu à l’extérieur, à l’intérieur ou les deux. On pourra préciser aussi pour chaque décor s’il est utilisé de jour, de nuit, ou les deux et en quelle proportion à peu près.</p>

<h3 id="conclusion-collecte">Conclusion collecte</h3>

<p>Forts de tous ces éléments qui nécessitent quelques heures de travail, nous pouvons passer à l’analyse proprement dite du film.</p>

<webonly class="block">

Notez que si vous utilisez des outils tels que le <a href="analyse/collector">collecteur d’analyse</a>, cette collecte est grandement facilitée et vous pouvez d'ores et déjà obtenir de nombreuses données statistiques concernant le film analysé.

</webonly>
</section>
<div class="liens_next_previous_pages bottom">
  <div class="under_next_prev_links"><span class="fleft"><a href="narration">Tous les livres</a></span><span class="chap_titre"><a href="narration/page/140">Protocole d'analyse</a></span><span class="schap_titre"><a href="narration/page/148">Deuxième phase (collecte)</a></span></div>
  <div class="cadre_links">
    <span class="lien_prev_page"><a href="narration/page/148">←</a></span>
    <span class="lien_main_page"><a href="narration/livre/10">Table des matières</a></span>
    <span class="lien_next_page"><a href="narration/page/152">→</a></span>
  </div>
  
</div>

