<% 
# Tableau de bord de l'analyse du film
%>
<% 
    require_form_support

    case param(:op)
    when 'proposition' then Analyse.proposition_contribution(film.id, user)
    end
%>
<h3><%= film.titre %></h3>

<div class="right">
  <%= Analyse.visitor_state(user) %>
</div>


<fieldset>
  <legend>Fichiers de l’analyse</legend>
  <ul id="files_analyses">
    <%= analyse.file_list %>
  </ul>
  <div id="files_buttons" class="right">
    <%= analyse.files_buttons %>
  </div>
</fieldset>


<fieldset>
  <legend>Contributeurs</legend>
  <ul id="contributors">
    <%= analyse.contributor_list %>
  </ul>
</fieldset>


<fieldset>
  <legend>Planning/tâches</legend>
  <ul id="taches">
    <%= analyse.tache_list %>
  </ul>
  <div id="taches_buttons" class="right">
    <%= analyse.taches_buttons %>
  </div>
</fieldset>
