<% 
# Tableau de bord de l'analyse du film
%>
<%

  user.identified? || identification_required('Vous devez vous identifier, pour vous rendre dans cette section')
%>
<%
    # Toutes les opérations
    param(:op) && Analyse.traite_operation(user, param(:op))

%>

<%= header(:small) %>
<%= Analyse.main_title %>

<% 
    require_form_support
%>
<h3><%= analyse.film.titre %></h3>

<div class="right">
  <%= Analyse.visitor_state(user) %>
</div>


<fieldset id="fs_files" class="plain">
  <legend>Fichiers de l’analyse</legend>
  <ul id="files_analyses" class="plain sensible discrete">
    <%= analyse.file_list %>
  </ul>
  <div id="files_buttons" class="right">
    <%= analyse.files_buttons %>
  </div>
</fieldset>


<fieldset id="fs_contributors" class="plain">
  <legend>Contributeurs</legend>
  <ul id="contributors" class="plain sensible discrete">
    <%= analyse.contributor_list %>
  </ul>
</fieldset>


<fieldset id="fs_taches" class="plain">
  <legend>Planning/tâches</legend>
  <ul id="taches" class="plain sensible discrete">
    <%= analyse.tache_list %>
  </ul>
  <div id="taches_buttons" class="right">
    <%= analyse.taches_buttons %>
  </div>
</fieldset>

<fieldset id="fs_specs" class="plain">
  <legend>Réglages de l'analyse</legend>
  <%= analyse.fieldset_specs %>
</fieldset>

<%= footer(:small) %>
