<%


    # Page principale pour la contribution aux analyses de films

  user.identified? || identification_required('Vous devez vous identifier, pour vous rendre dans cette section')
%>
<%= header(:small) %>
<%= Analyse.main_title %>
<% 

    # Différents affichages en fonction du "statut" du visiteur, qui peut être :
  # - administrateur
  # - analyste
  # - postulant analyste
  # - simple inscrit (identifié)
  # - simple visiteur non identifié
  #

%>
<% if user.admin? %>

  <p>En tant qu'administrateur, vous avez tous les privilèges dans cette partie.</p>
  <p>→ <a href="analyser/list" class="exergue">Liste des analyses en cours</a>.</p>
  <p>→ <a href="analyser/new" class="exergue">Initier une nouvelle analyse de film</a>.</p>

<% elsif user.postulant? %>

  <p>Votre candidature est à l’étude. Merci de votre patience.</p>
  <p>→ <a href="analyser/list" class="exergue">Liste des analyses en cours</a>.</p>

<% elsif user.analyste? %>

  <p>Vous êtes analyste, vous pouvez contribuer aux analyses ou en initier.</p>
  <p>→ <a href="analyser/list" class="exergue">Liste des analyses en cours</a>.</p>
  <p>→ <a href="analyser/new" class="exergue">Initier une nouvelle analyse de film</a>.</p>

<% elsif user.identified? %>

  <p>Pour contribuer aux analyses, puisque vous êtes déjà inscrit<%=user.f_e%>, il vous suffit de <a href="analyser/postuler" class="exergue">soumettre une demande de participation</a>.</p>
  <p>→ <a href="analyser/list" class="exergue">Liste des analyses en cours</a>.</p>

<% else %>

  <p>Pour contribuer aux analyses, vous devez au préalable <a href="user/signup" class="exergue">vous inscrire sur le site</a> ou <a href="user/signin" class="exergue">vous identifier</a> si vous êtes déjà inscrit(e).</p>
  <p>→ <a href="analyser/list" class="exergue">Liste des analyses en cours</a>.</p>

<% end %>

<p><%= 
  "→ " + simple_link(
    'aide?p=analyse%2Fcontribuer', 
    'Aide pour la contribution','exergue'
  )+'.'
%></p>

<p class="tiny italic">Comme pour toutes les pages, c'est le titre qui vous permet de vous déplacer facilement. Dans cette section, le mot “Contribuer” dans le titre vous permet de revenir sur cette page de départ tandis que les termes “analyses de films”, toujours dans le titre, vous permet de revenir à l'accueil des analyses.</p>

<%= footer(:small) %>

