<% 
#
# Formulaire d'édition du mot du scénodico
#

require_form_support

if param(:operation) == 'save_mot'
  mot.save
end

%>
<form id="edit_mot_form" action="" method="POST">
  <input type="hidden" name="operation" id="" value="save_mot" />
  <div>

    <%# -------------- MOT ------------------  %>

    <input type="text" name="mot[mot]" id="mot_mot" class="medium main" value="<%= mot.mot %>" placeholder="Mot"/>
    
    <%# -------------- ID ------------------  %>

    <input type="text" class="short" name="mot[id]" id="mot_id" value="<%= mot.id %>" placeholder="ID" />
    <%= lien_edit_mot_by_id %><%= lien_show_mot %>
  </div>
  <div>

    <%# -------------- CATÉGORIE ------------------  %>

    <input type="text" name="mot[categories]" id="mot_categories" class="medium" value="<%= mot.categories %>" placeholder="Catégories" />
    <%= menu_categories %>

  </div>
  <div>
    
    <%# -------------- DÉFINITION ------------------  %>

    <label>Définition</label>
    <textarea placeholder="Définition du mot" name="mot[definition]" id="mot_definition" class="long"><%= mot.definition %></textarea>

  </div>
  <div>
    <div class="small">
      <%= label_mot('relatifs') %>
      <%= label_mot('synonymes') %>
      <%= label_mot('contraires') %>
    </div>
    <div>
      <%= menu_mots('relatifs') %>
      <%= menu_mots('synonymes') %>
      <%= menu_mots('contraires') %>
    </div>
    <div class="tiny">
      <input type="checkbox" id="cb_only_checkeds" onclick="Scenodico.show_only_checkeds(this)" />
      <label for="cb_only_checkeds">Afficher seulement les sélectionnés</label>
    </div>
    <script type="text/javascript" charset="utf-8">
      document.getElementById('cb_only_checkeds').checked = true;
    </script>
  </div>
  <div>

    <%# -------------- LIENS ------------------  %>

    <label>Liens <span>(href::titre)</span></label>
    <textarea placeholder="Liens"name="mot[liens]" id="mot_liens" class="long"><%= mot.liens %></textarea>

  </div>

  <%# --------------- BOUTONS --------------------- %>

  <div class="buttons">
    <a href="admin/scenodico?op=edit_mot" class="btn fleft">Init nouveau</a>
    <input type="submit" class="main" value="<%= mot.id ? 'Enregistrer' : 'Créer' %>" />
  </div>
</form>
