<h3>Comment choisir une bonne formation à l'écriture ?</h3>
 <p>
   <strong>Le web pullule aujourd'hui de formations à l'écriture</strong> en tout genre qui vous font miroiter, à force de mots savants parfois, qu'elles vont révéler votre génie ignoré, vous permettre d'écrire votre roman <em>facilement</em>, ou votre scénario, et que vous allez même devenir écrivain dans l'année ! Tout cela grâce à quelques techniques prêtes à l'emploi que les grands auteurs gardaient jalousement cachées et qui vous seront révélées pour peu que vous ouvriez — en grand — votre porte-monnaie.
 </p>

 <p>
   Nombre de ces formations, dont certaines ont pignon sur rue ou paient cher les <em>AdsWords</em> de Google pour s'afficher en haut des résultats de l'incontournable moteur de recherche, sont en réalité d'une valeur pour le moins discutable.
 </p>
 <p class="bold">
   Mais comment, lorsque l'on ne connait rien de l'apprentissage de l'écriture, savoir distinguer une bonne formation d'une mauvaise ?
 </p>
 <p>
   L'aspirant auteur, l'aspirant scénariste, s'y perd et choisit souvent, par dépit, la vitrine la plus illuminée… </p>

  <p>Pourtant, comme nous allons le voir, il n'est pas si difficile de séparer le bon grain de l'ivraie. Voici <strong>quatre points décisifs</strong>, quatre questions simples à se poser, qui vont vous permettre d'y voir plus clair et de choisir la formation correspondant le mieux à vos aspirations et vos attentes.
 </p>
 <p>Ces quatre questions correspondent aux questions que vous devez vous poser pour estimer un atelier découvert sur le web (mais vous pouvez vous les poser tout autant pour un atelier “en dur”). Exprimons-les d'abord en quelques mots avant de les aborder en détail :
 </p>
<p>
<strong>Question 1</strong> : les propositions de cet atelier, de ce stage, ne sont-elles pas trop aguicheuses ?
</p>
 <p>
<strong>Question 2</strong> : le (ou la) pédagogue qui offre la formation réussit-il à utiliser le savoir qu'il divulgue pour lui-même ?
</p>
<p><strong>Question 3</strong> : les auteurs ayant suivi ladite formation ont-ils réussi à être publiés (pour les romans) ou produits (pour les films ou les scénario) ? En d'autres termes : sur quoi ces formations ont-elles concrètement débouché pour les auteurs qui les ont suivies ?
</p>
<p>
<strong>Question 4</strong> : le site propose-t-il des outils gratuits annexes ?
</p>

<%

# ---------------------------------------------------------------------
#   PREMIER POINT
%>

<h3>Premier point : les propositions trop aguicheuses</h3>

<p>C'est un premier point qui peut paraitre subjectif, mais faites appel à votre bon sens et vous vous éviterez bien des déconvenues.</p>

<p>
  Les ateliers, ceux qui tiennent plus de l'épicerie que du véritable lieu d'apprentissage, utilisent plusieurs techniques d'harponnage en plus des habituelles <em>promotions</em> propres au monde du commerce :
</p>

<dl>
  <dt>Vous faire croire que c'est facile</dt>
  <dd>… et qu'en connaissant les techniques qu'on va vous apprendre, tout ne restera que plaisir. Écoutez plutôt votre bon sens : il vous dira que si l'écriture était facile, s'il existait des techniques miracles, alors tout le monde y parviendrait sans problème. Non, écrire est un plaisir, mais écrire est difficile et le restera toujours.</dd>
  <dt>Vous faire croire qu'il existe des secrets</dt>
  <dd>Des secrets bien entendu savamment cachés, et qu'on va vous révéler si vous payez. Sachez-le : il n'existe aucun secret, ou plutôt si : tous ceux qui existent ont été divulgués depuis Aristote et on peut les trouver gratuitement un peu partout, à commencer par les <a href="citation/1/show">citations des auteurs</a>, toujours riches d'enseignement.</dd>
  <dt>Flirter avec vos fantasmes, flatter votre ego</dt>
  <dd>Il est très simple de vous dire que vous avez du talent et qu'on sait comment le révéler. Avouez-le, ce sont exactement les mots que vous avez envie d'entendre. Ne vous laissez pas endormir ou aveugler par des compliments qui flattent votre ego, tentez de rester <%= user.f_la %> seul<%= user.f_e %> juge de votre valeur, même si vous n'en avez qu'un vague sentiment. Une bonne formation n'est pas là pour vous caresser dans le sens du poil, elle est là pour vous encourager, certes, pour vous soutenir, certes, mais cela dans le seul but de vous rendre capable d'affronter la réalité et de surmonter les difficultés.
  </dd>
  <dt>Vous proposer des choses impossibles</dt>
  <dd>
    <p>
      Le cas typique est celui des bibles de série. Aujourd'hui, avec l'avènement des séries télévisées et leur réussite, tout apprenti-auteur rêve d'écrire la sienne. Les ateliers-miracles y ont vu un hameçon puissant et vous proposent d'apprendre à développer et vendre à coup sûr votre propre bible de série.
    </p>
    <p>
      Mais si le responsable de ladite formation était animé de bonnes intentions, il ne vous ferait pas perdre votre argent et votre temps en vous apprenant quelque chose qui n'aura aucune chance d'aboutir : une série, en France, ne peut être proposée et conçue que par des auteurs chevronnés et déjà bien connus des différentes chaines (aujourd'hui, ce sont même les scénaristes et autres showrunners des grandes séries américaines qui profitent de cette manne). Il n'existe aucune exception et le système fait qu'aucune exception n'est possible.
    </p>
    <p>Donc, si le site vous fait cette proposition malhonnête, passez votre chemin : c'est simplement du vol (notez que certaines formations peuvent le proposer tout en vous informant clairement de la réalité du système, en précisant que c'est simplement à titre d'intérêt personnel que vous pouvez vous rompre à cet exercice particulier et stimulant — c'est le cas notamment à l'<a href="http://www.atelier-icare.net" target="_blank">atelier Icare</a>).</p>
  </dd>
</dl>
<%
# ---------------------------------------------------------------------
#   DEUXIÈME POINT
%>


<h3>Deuxième point : un savoir divulgué efficace pour le pédagogue lui-même</h3>
<p>
  Voilà un premier point tout à fait objectif et facilement vérifiable.
</p>
<p>
  On aura beau dire, s'il ne faut pas être un génie dans la pratique de son art pour exceller dans son enseignement, il faut néanmoins être capable  d'être produit ou publié pour prétendre apprendre l'écriture à d'autres personnes.
</p>
<p>
  Disons-le encore plus clairement : un soi-disant pédagogue qui n'aurait jamais publié de romans (à <em>compte d'éditeur</em> — puisque n'importe qui peut publier à <em>compte d'auteur</em>), qui n'aurait jamais écrit de scénarios achetés et tournés, divulgue de fait un enseignement qui n'a aucune légitimité, quand bien même il serait bardé de diplômes. Cet enseignement aurait quelconque valeur, le pseudo-pédagogue qui le divulgue aurait pu se l'appliquer à lui-même et produire si ce n'est une œuvre géniale tout au moins une œuvre acceptable, susceptible d'être commercialisée.
</p>
<p>Pour nous, c'est même une question de principe : <em>le minimum que puisse faire moralement un pédagogue est de se prouver à lui-même que son enseignement peut porter ses fruits.</em>
 </p>
<p>
  Certains faux pédagogues sont assez malins pour dire qu'ils ne sont pas intéressés par la publication, ils vous en dresseront une image noire et sordide, ils vous diront que leur talent n'a jamais pu être reconnu pour x raisons, ils sauront dresser des raisons dans lesquelles vous pourrez même vous reconnaitre. En vérité, il s'agit seulement là de ronds de jambe pour justifier le fait qu'ils n'ont jamais pu convaincre par leur travail et les conseils qu'ils veulent pourtant vous vendre.
 </p>
<p>D'autres n'hésiteront pas à mentir ou à grossir le moindre de leur fait, n'hésiteront pas à prétendre que leur première œuvre est sur le point d'être éditée. Ne soyez pas naï<%= user.f_ve %>et vérifiez simplement l'information (l'internet a tout changé à ce niveau et les charlatans sont vite démasqués si l'on sait se servir de cette source inépuisable de données).</p>

<%
# ---------------------------------------------------------------------
#   TROISIÈME POINT
%>

<h3>Troisième point : la réussite des auteurs ayant suivi la formation</h3>

<p>Voilà un autre point ne faisant intervenir aucune subjectivité. Je dirais même que par rapport à l'aspirant auteur, ce devrait être le point le plus déterminant.</p>

<p><span class='bold'>Qu'ont réussi concrètement les aspirants-auteurs qui ont suivi l'enseignement pendant ou après leur formation ?</span></p>

<p>
  S'il est évident que 100% des apprentis-auteurs ne peuvent pas devenir auteurs — par manque de talent ou plus souvent par manque d'efforts — il n'en demeure pas moins qu'une formation sérieuse doit pouvoir produire des auteurs professionnels et des projets qui auront abouti de façon professionnelle (“professionnel” n'est pas un gros mot ici, c'est seulement le gage et le témoignage d'une certaine qualité et d'un certain savoir-faire).</p>
<p>
  Si la formation ne propose aucune liste de <em>réussites</em> réelles, c'est-à-dire une liste disant explicitement ce qu'ont pu réussir les apprentis-auteurs après ou pendant leur formation, avec des liens corroborant ces informations, alors passez votre chemin : les responsables de ces formations tiennent plus des marchands de tapis que des pédagogues — vous constaterez d'ailleurs, s'ils indiquent leur formation personnelle, qu'elle est souvent journalistique ou commerciale, donc plus proche de la vente que de la formation en narration (et s'il n'existe pas de sots métiers, certains sont plus à même de vous conduire là où vous le désirez).
</p>
<p>
  Si une liste est proposée, alors sachez lire entre les lignes : une publication à compte d'auteur ou une publication sur un blog, sur un site quelconque, n'a aucune valeur en soi. De la même manière, telle <em>célébrité</em> qui ne serait soi-disant qu'<em>intéressée</em> par tel ou tel projet n'a aucune valeur réelle. Donc attention aux travaux mineurs qu'on veut faire passer pour de grandes réussites.
</p>
<p>
  Seules comptent les <em>vraies</em> publications, celles à compte d'éditeur pour les romans et les nouvelles, et seules comptent les signatures de projets pour le cinéma ou la TV, ou mieux encore les films réalisés au sein d'une vraie maison de production.
</p>
<p>
Attention enfin à ne pas se laisser abuser par les “témoignages écrits” d'anciens stagiaires, toujours très élogieux. D'abord, rien ne prouve qu'ils ne soient pas inventés de toutes pièces. Ensuite, vous seriez <%= user.f_la %> pire des pédagogues, vous trouveriez toujours quelqu'un qui apprécierait votre façon de faire.  D'autant que certains pseudos-pédagogues ont vite compris qu'il suffisait de flatter votre ego d'auteur — en vantant gratuitement votre talent — pour devenir du même coup un incroyable et merveilleux pédagogue qui a su voir et comprendre tout votre génie…
</p>

<%
# ---------------------------------------------------------------------
#     QUATRIÈME POINT
%>

<h3>Quatrième point : les outils annexes</h3>
<p>
  On s'imagine souvent que les pseudos-gourous proposent leur savoir par passion. Il n'en est rien pour la plupart d'entre eux et il existe un moyen très simple de le mesurer : si la formation propose de nombreuses annexes,  cours, exemples, etc., cela témoigne d'une véritable vocation pour la transmission du savoir.
</p>
<p>
  Si au contraire le site ne propose qu'un gros bouton “Achetez cette formation !” — ou tout autre dérivé plus alléchant (par exemple le fait de vous faire recevoir un conseil d'écriture par semaine si vous laissez votre adresse mail — moyen ingénieux pour l'obtenir, n'est-ce pas ? ;-)), alors soyez assuré<%= user.f_e %> que la pédagogie, la transmission du savoir, ne sont pas au cœur des préoccupations du responsable de ladite formation. Vous vous apprêtez à entrer dans une épicerie dramaturgique.
</p>

<h3>Le tarif</h3>
<p>
Précisons, pour terminer, que le tarif est aussi un indicateur, mais pas dans le sens où on pourrait se l'imaginer. Il est aisé de gonfler artificiellement ses prix pour faire croire en la valeur de sa formation.
</p>
<p>
  En vérité, il faut comprendre le tarif de cette manière : plus il est élevé et plus il révèle l'intérêt des formateurs pour la rentabilité financière de leur entreprise, là aussi plus proche de l'épicerie que de la véritable formation.
</p>

<%
# ---------------------------------------------------------------------
#   CONCLUSION
%>

<h3>Conclusion</h3>

<p>Nous espérons que ces quatre points vous permettront désormais d'y voir plus clair et de ne pas vous laisser hypnotiser par les chants des sirènes et les mirages en tout genre.</p>

<p>En matière de formation à l'écriture, <span class='bold'>un auteur averti en vaut deux !</span></p>

<p>À titre d'exemple — et pour ne pas prêcher pour notre propre chapelle en mentionnant seulement les formations de l'<a href="http://www.atelier-icare.net" target="_blank">atelier Icare</a> —, voici un site discret,  sobre, qui propose pour les amoureux de l'écriture littéraire une formation qui répond parfaitement aux prescriptions que nous venons d'exposer : il s'agit des formations de <a href="http://www.detambel.com/f/index.php?sp=livAut&auteur_id=1">Régine Detambel</a> (pour information : je ne connais pas personnellement cette personne, je ne suis pas en train de sponsoriser une connaissance personnelle ;-)).
</p>

<p>Il ne nous reste plus à présent qu'à vous souhaiter de trouver, grâce à ces conseils, chaussures à votre pied et que ces chaussures vous emmènent le plus loin et le plus sûrement possibles !</p>
