<%
=begin

  Accueil du programme UN AN UN SCRIPT

=end
%>
<%= header %>
<h2>Le programme UN AN UN SCRIPT</h2>

<%= bouton_signup %>

<p>[Description]</p>

<%= bouton_signup %>

<%= right_margin %>
<%= footer %>
