<% 
=begin

Bureau de l'auteur pour son programme UN AN UN SCRIPT

Noter que ce bureau peut être atteint même si l'auteur n'est plus
en exercice et que son programme est terminé.

=end
user.unanunscript? || user.admin? || raise('Vous n’êtes pas autorisé à rejoindre cette section.')

# À chaque chargement, on vérifie que les travaux relatifs (dans la table propre à l'auteur) soient
# bien synchronisés. Cela demande une synchronisation à chaque premier chargement lors d'un nouveau
# jour-programme (et encore, pas si le cron est utilisé pour changer l'état du programme), mais
# ensuite les choses sont plus rapides puisqu'il suffit de comparer le jour-programme courant avec
# la valeur dans les options du programme.
#
# Cette opération est nécessaire pour que le nom des onglets, qui comporte le nombre de taches,
# soient à jour et corrects, aussi bien au niveau du nom affiché que du style en fonction des
# dépassements.
Unan::UUProgram.check_if_table_works_auteur_uptodate(program)

%>
<%= header(:small) %>
<h2 class="small">Bureau de votre programme UN AN UN SCRIPT</h2>
<p class="message"><%= user.pseudo %>, soyez <%= user.f_la %> bienvenu<%= user.f_e %> dans votre bureau de travail.</p>

<% 
# ------------ La section ------------
%>
<div id="section">
  <%= onglets_sections %>
  <div id="panneau-<%= site.route.objet_id || 'program' %>" class="panneau">
    <%= section.partiel %>
</div>
<%
#---------------- Fin de la section ----------------
%>

<%= right_margin %>
<%= footer %>
