<% 
=begin

Bureau de l'auteur pour son programme UN AN UN SCRIPT

Noter que ce bureau peut être atteint même si l'auteur n'est plus
en exercice et que son programme est terminé.

=end

%>
<%= header %>
<h2 class="small">Bureau de votre programme UN AN UN SCRIPT</h2>
<p>Soyez <%= user.f_la %> bievenu<%= user.f_e %> dans votre bureau de travail, <%= user.pseudo %>&nbsp;!</p>

<%= onglets_sections %>
<%= partial("#{section.id}") %>

<%= right_margin %>
<%= footer %>
