<%
# Pour lire un article du blog (spécifié dans l'url)
#
#%>
<%= header %>
<%= right_margin %>


<h2>Le Blog de Phil<%= lien_edit_if_admin %></h2>

<%= liens_next_previous_pages(:top) %>

<%=

  if File.exist? Blog.article_erb_path
    deserb Blog.article_erb_path
  else
    kramdown File.read(Blog.article_md_path)
  end

%>
<%= liens_next_previous_pages(:bottom) %>

<%= footer %>
