<% 
  #
  # Formulaire affiché lorsqu'on a oublié son mot de passe.
  # C'est la route `user/signin/oubli` qui y conduit.
  #
  param(:user) || param(:user, Hash.new)
  require 'digest/md5'

  mdp = "Josette"
  mai = "josette@chez.elle"
  sel = "unselquelconque"
  cry = Digest::MD5.hexdigest("#{mdp}#{mai}#{sel}")
%>
<form id="password_oubli_form" class="w40pc" action="" method="POST">
  <input type="hidden" name="operation" value="send_new_password" />
  <input type="hidden" name="FORMID" value="<%= Form.unique_id %>">
  <div>
    <label for="user_mail">Votre mail</label>
    <span class="field">
      <input type="text" tabindex="1" name="user[mail]" id="user_mail" value="<%= param(:user)[:mail] %>" />
    </span>
  </div>

  <div class="buttons">
    <input type="submit" class="main" value="Nouveau mot de passe" />
  </div>
</form>


<div>
  <p><em>Pourquoi ne pouvons-nous pas vous renvoyer votre mot de passe ?</em></p>
  <p>Tout simplement parce que nous ne le connaissons pas.</p>
  <p><em>Mais alors comment faites-vous pour me reconnaitre quand je m'identifie ?</em></p>
  <p>Rassurez-vous, il n'y a aucune magie noire derrière tout ça. Quoi que… Voyez plutôt comment nous procédons :</p>
  <p>Lorsque vous vous inscrivez, en donnant un mot de passe, ce mot de passe est aussi crypté et enregistré dans notre base de données. Par exemple, si votre mot de passe est « <%= mdp %> » et que votre mail est <%= mai %>, ce mot de passe crypté resemblera à <%= cry %> (pour compliquer les choses, ce mot de passe est crypté à l'aide du mail et d'un « sel » — un mot — supplémentaire). Autant dire qu'il est impossible de retrouver le premier à l'aide du second.</p>
  <pre>
    '<%= mdp %>' n'est pas enregistré
    Nous enregistrons : <%= cry %>
  </pre>
  <p>Ensuite, lorsque vous revenez sur le site et que vous vous identifiez à l'aide de votre mot de passe, nous cryptons à nouveau ce mot de passe, et nous vérifions que le résultat soit bien le même que le mot de passe crypté que nous avons enregitré.</p>
  <pre>
  Mot de passe crypté enregistré         Mot de passe fourni à l'identification
                                         et crypté
    <%= cry %> = <%= cry %> ?
    => OK
  </pre>
</div>
