<% 
#
# Page d'arrivée de l'administration de la collection Narration
#
%>
<%= header(:small) %>
<%= 

  subtitle =
    case param(:op)
    when 'edit_data' then 'Éditeur de données de pages'
    when 'edit_text' then 'Éditeur de texte de pages'
    else nil
    end
  
  Narration.main_titre(subtitle: subtitle) %>

<% if param(:op) %>

  <%= partial("#{param(:op)}") %>

<% else %>

  <p>Bienvenue dans l'administration de la collection Narration.</p>

  <p><%= simple_link('admin/narration?op=edit_data', 'Éditeur de données de page') %></p>
<% end %>

<%= footer %>
