<% 
# Affichage de la liste des films analysés
%>
<%= header(:small) %>
<%= Analyse.main_title %>
<h3>Analyses en cours</h3>


<div class="libelle_colonnes">
  Titre du film / initiateur de l’analyse / dernière modification /
  nombre de contributeurs /
  boutons pour voir ou contribuer
</div>
<ul id="analyses" class="simple sensible discrete">
  <% 
      require_lib('analyse:listes')
      
      # Filtre défini
      # Au minimum, ce sont les analyses courantes qu'il faut voir

      filtre = param(:filtre) || Hash.new
      filtre.merge!(current: true)
      
      Analyse.all(filtre).each do |hanalyse| %>

      <%= Analyse.as_li_for(hanalyse, user) %>

    <% end %>
</ul>
<div class="right">
  <% if user.analyste? || user.admin? %>
    <%= simple_link("analyser/list?filtre[all]=1", 'Voir toutes les analyses', 'small exergue') %>
  <% else %>
    <%= simple_link('analyser', 'Contribuer aux analyses', 'small exergue') %>
  <% end %>
</div>

<%= footer(:small) %>
