<% 
# Affichage de la liste des films analysés
  
  # Filtre défini
  # Au minimum, ce sont les analyses courantes qu'il faut voir

  filtre = param(:filtre) || Hash.new
  filtre.key?(:which) || filtre.merge!(which: :current)

  # Dans tous les cas, on met :which en symbol, pour faciliter
  # la suite.

  filtre[:which] = filtre[:which].to_sym

%>
<%= header(:small) %>

<%= Analyse.main_title %>

<h3><%= 
case filtre[:which]
when :current then 'Analyses en cours'
when :all     then 'Tous les analyses'
end
  %></h3>


<div class="libelle_colonnes">
  Titre du film / initiateur de l’analyse / dernière modification /
  nombre de contributeurs /
  boutons pour voir ou contribuer
</div>
<ul id="analyses" class="simple sensible discrete">
  <% 
      require_lib('analyse:listes')
      
      
      Analyse.all(filtre).each do |hanalyse| %>

      <%= Analyse.as_li_for(hanalyse, user) %>

    <% end %>
</ul>
<p class="small thiner">
  En cliquant sur le titre, vous rejoignez le tableau de bord de l'analyse. En survolant la ligne de ce titre, vous faites apparaitre des boutons qui permettent de voir l'analyse, de proposer votre contribution ou encore de consulter la fiche d'identité du film. 
</p>
<p class="small thiner discret">
  Comme partout sur le site, vous pouvez utiliser les titres et sous-titres des pages pour vous déplacer.
</p>
<div class="right">
  <% if user.analyste? || user.admin? %>
    <%= 
      case filtre[:which]
      when :current
        simple_link("analyser/list?filtre[which]=all", 'Voir toutes les analyses', 'small exergue')
      when :all
        simple_link('analyser/list', 'Voir les analyses courantes', 'small exergue')
      end
    %>
  <% else %>
    <%= simple_link('analyser', 'Contribuer aux analyses', 'small exergue') %>
  <% end %>
</div>

<%= footer(:small) %>
