<% 
=begin

  Page de présentation de Phil
  CV

=end
%>
<%= header %>
<%= right_margin %>

<h2 class="air">Philippe Perret</h2>


<p><strong>Philippe Perret</strong>, rédacteur et administrateur de <%= site.configuration.titre %>, est romancier <span class="tiny">(<span class="oeuvre">mort@vivant</span>, éditions Anne Carrière)</span>, scénariste cinéma <span class="small">(<span class="oeuvre">Les&nbsp;Aliénés</span>, Prix Jury Jeune au Festival de Sarlat)</span>, scénariste TV <span class="small">(<span class="oeuvre">R.I.S&nbsp;Police Scientifique</span>)</span>, musicien, arrangeur et compositeur <span class="small">(Premier Prix d'analyse musicale, Prix SACEM)</span>.</p>

<p>Passionné de pédagogie, Phil développe sa méthodologie de la narration dans la <%= lien.narration('collection Narration') %> et accompagne des auteurs dans leurs projets professionnels, principalement au sein de l'<a href="http://www.atelier-icare.net">Atelier&nbsp;Icare</a>.</p>

<h3>Actualité</h3>

<p>Il vient de signer pour Mon Voisin Productions <span class="small">(Dominique Besnehard, <span class="oeuvre">10%</span>)</span> la série TV <span class="oeuvre">Cabaret de Paris</span> coécrite avec Marina Defosse.</p>

<%= footer %>
