<% 

#
# Affichage d'une page de la collection Narration
#

%>
<%= header(:small) %>

<h2>La collection Narration</h2>

<h3><%= page.titre_livre %><%= page.titre %></h3>

<%= page.content %>

<%= footer %>
