<%
=begin

  Mail de confirmation de l'inscription de l'user

=end
%>
<p><%= user.pseudo %>, bienvenue sur <%= configuration.titre %>&nbsp;!</p>

<p>Vous vous êtes inscrit<%= user.f_e %> avec le mail&nbsp;: <%= user.mail %>.</p>

<p>Cette inscription sur <%= configuration.titre %> vous offre un accès plus complet au site.</p>

<p>Nous vous souhaitons un agréable séjour sur le site et nous espérons que vous y trouverez de nombreux outils utiles pour vos propres travaux d'écriture.</p>
