<%
=begin

  Le pied de page
  ---------------
  Version de la page d'accueil

=end
%>
</section>
<section id="footer">
  <%= contact_link %>
  <%= signin_link %>
  <%= signup_link %>
  <%= suscribe_link %>
</section>
<%= sections_messages %>
