<%
=begin

  Le pied de page
  ---------------
  Version de la page d'accueil

=end
%>
</section>
<section id="footer">
  <%= cb_page_fixe %>
  <%= contact_link %>
  <%= signin_link %>
  <%= signup_link %>
  <%= suscribe_link %>
  <a href="site/aide">aide</a>
</section>
<%= sections_messages %>
