<%
=begin

  Le pied de page
  ---------------

  Il existe trois styles de pied de page :

    home      Le pied de page de l'accueil
    full      Le pied de page complet
    small     Le pied de page réduit

=end
%>
</section>
<section id="footer">
  <%= cb_page_fixe %>
  <a href="">accueil</a>
  <%= tool_list_link %>
  <%= contact_link %>
  <%= user_footer_buttons %>
  <a href="aide">aide</a>
</section>
<%= sections_messages %>
