<%
=begin

  Le pied de page
  ---------------
  Version de la page d'accueil

=end
%>
</section>
<section id="footer">
  <%= cb_page_fixe %>
  <%= contact_link %>
  <%= tool_list_link %>
  <%= user_footer_buttons %>
  <a href="aide">aide</a>
</section>
<%= sections_messages %>
