<%
=begin

  Le pied de page
  ---------------

  Il existe trois styles de pied de page :

    home      Le pied de page de l'accueil
    full      Le pied de page complet
    small     Le pied de page réduit

=end
%>
</section>
<section id="footer">
  <a href="">accueil</a>
  <a href="outils">outils</a>
  <%= contact_link %>
  <%= signin_link %>
  <%= signup_link %>
  <%= suscribe_link %>
  <a href="site/aide">aide</a>
</section>
<%= sections_messages %>
