<%= header %>
<h2>Forum dՎcriture</h2>

<div>Bienvenue sur le forum dՎcriture du site.</div>
<% 

  # Les boutons qui permettent de consulter les autres sujets
  Forum.add_boutons_sujets_next_previous(param(:from), 20)

%>
<%= Forum.boutons(:top) %>

<fieldset id="last_<%=user.grade < 1 ? 'public_' : ''%>messages">
  <legend>Derniers messages<%=user.grade < 1 ? ' publics' : '' %></legend>
  <%= Forum.last_messages(param(:from), 20, {grade: user.grade}) %>
</fieldset>


<%= Forum.boutons(:bottom) %>


<%= footer %>
