<%= header %>
<h2>Forum dՎcriture</h2>

<div>Bienvenue sur le forum dՎcriture du site.</div>

<%= Forum.boutons(:top) %>

<% 
# Derniers messages
%>
<fieldset id="last_<%=user.grade < 1 ? 'public_' : ''%>messages">
  <legend>Derniers messages<%=user.grade < 1 ? ' publics' : '' %></legend>
  <%= Forum.last_messages %>
</fieldset>


<%= Forum.boutons(:bottom) %>


<%= footer %>
