<% 
# Page principale pour la contribution aux analyses de films
%>
<%= header(:small) %>

<%= titre_page("Contribuer aux "+simple_link('analyse/home','analyses de films')) %>
<p class="right"><%= simple_link('aide?p=admin/analyse/contribuer', '→ Aide pour la contribution','exergue small') %></p>

<%= Analyse.invite_by_niveau(user) %>
<%= param(:op) && partial(param(:op)) %>

<%= footer(:small) %>

