<%


    # Page principale pour la contribution aux analyses de films
  #
  # Le partiel peut être défini de différentes manière :
  # - par le paramètre `op`
  # - par l'objet_id de la route si ce n'est pas un nombre
  #
  # Si l'objet_id est un nombre, c'est l'identifiant d'un film analysé
  #

  # Définition du partiel
  partiel = nil
  if site.route.objet_id.is_a?(String)
    partiel = site.route.objet_id
  elsif site.route.objet_id.is_a?(Fixnum)
    Analyse::Film.set_current(site.route.objet_id)
  elsif param(:op)
    partiel = param(:op)
  end

  #debug "partiel = #{partiel.inspect}"

  lien_aide_contribution = "→ " + simple_link(
    'aide?p=analyse%2Fcontribuer', 
    'Aide pour la contribution','exergue'
  )+'.'
%>
<%= header(:small) %>

<%= titre_page(simple_link('analyse/contribuer', 'Contribuer') + " aux "+simple_link('analyse/home','analyses de films')) %>
<p class="right"><%=  %></p>

<% 
    if partiel 
      #
      # = UN PARTIEL DEMANDÉ =
      #
  %>

  
  <%= partial(partiel) %>

<% 
    
  else

    #
    # = AUCUN PARTIEL DEMANDÉ =
    #
    # Lorsque seul l'url analyse/contribuer a été spécifiée, sans partiel et
    # sans film. Dans ce cas, un message différent attend les visiteurs, en 
    # fonction de leur inscription.
%>
  <% if user.postulant? %>
    <p>Votre candidature est à l’étude. Merci de votre patience.</p>
  <% elsif user.analyste? %>
    <p>Vous êtes analyste, vous pouvez contribuer aux analyses ou en initier.</p>
    <p>→ <a href="analyse/contribuer/new" class="exergue">Initier une nouvelle analyse de film</a>.</p>
    <p>→ <a href="analyse/contribuer/list" class="exergue">Contribuer à une analyse en cours</a>.</p>
  <% elsif user.identified? %>
    <p>Pour contribuer aux analyses, puisque vous êtes déjà inscrit<%=user.f_e%>, il vous suffit de <a href="analyse/contribuer/candidater" class="exergue">soumettre une demande de participation</a>.</p>
  <% else %>
    <p>Pour contribuer aux analyses, vous devez au préalable <a href="user/signup" class="exergue">vous inscrire sur le site</a>.</p>
  <% end %>
<% end %>

<p><%= lien_aide_contribution %></p>
<p class="tiny italic">Comme pour toutes les pages, c'est le titre qui vous permet de vous déplacer facilement. Dans cette section, le mot “Contribuer” dans le titre vous permet de revenir sur cette page de départ tandis que les termes “analyses de films”, toujours dans le titre, vous permet de revenir à l'accueil des analyses.</p>
<%= footer(:small) %>

