<div class="liens_next_previous_pages top">
  <div class="cadre_links">
    <span class="lien_prev_page"></span>
    <span class="lien_main_page"><a href="unanunscript/bureau/pages">Votre bureau</a></span>
    <span class="lien_next_page"></span>
    
  </div>
</div>

<section id="unan_page_cours-44" class="page_cours">
<h2 class="titre_page">Recherche et documentation : liste des sujets</h2>

<!-- #44 Recherche et documentation : liste des sujets -->

<p>Vous devez à présent aborder une phase importante du travail sur un récit, phase qu’il convient de commencer le plus tôt possible : la recherche et la documentation.</p>

<p>Quand je parle de “Recherche”, je pense à ce qu’il va falloir rechercher et l’action et les directions dans lesquelles il va falloir chercher.</p>

<p>Quand je parle de “Documentation”, je pense au fait de s’instruire sur les sujets de son histoire, en lisant des articles sur internet, en lisant des livres, en visionnant des films, en discutant avec des personnes informées.</p>

<p>Pourquoi faut-il la commencer tôt ? Tout simplement parce que l’idéal pour écrire sur un sujet est que les idées émanent réellement de ce sujet, et même d’une connaissance suffisamment approfondie du sujet. Ne pas le faire, c’est s’exposer à découvrir plus tard des incohérences rédhibitoires que l’on ne pouvait pas voir avant.</p>

<p>Pendant ces deux jours consacrés à la recherche et documentation, où il vous est tout à fait possible de poursuivre les travaux précédents sur la structure et les personnages, nous allons surtout faire de la <em>recherche</em> et établir les plans de ce qu’il faudra accomplir au cours du développement de l’histoire.</p>

<p>La première chose à entreprendre consiste à établir la <strong>liste des sujets de notre recherche et documentation</strong>, la liste des thèmes abordés — il s’en dégage forcément dès à présent —, sans oublier les métiers qui sont abordés, à commencer par ceux qu’exercent peut-être déjà les personnages.</p>

<p>Après avoir établi cette liste, qui devrait comprendre un minimum de 10 items, 10 éléments — c’est vraiment un minimum —, vous pouvez commencer à noter quels moyens vous allez mettre en œuvre pour vous documenter sur ces sujets.</p>

<p>Ces moyens commencent toujours, aujourd’hui, par Internet. Mais il ne faut pas oublier deux sources de connaissances incontournables :</p>

<ul>
  <li>les livres, les encyclopédies, les ouvrages de vulgarisation, toute documentation que vous pourrez trouver dans la médiathèque de votre quartier ou de votre ville ;</li>
  <li>les gens, les personnes, les professionnels, les chercheurs (qu’on peut également trouver par le biais d’internet et des forums).</li>
</ul>

<p>Ces trois pistes sont à creuser, sans tarder. D’où la nécessité d’établir la liste des recherches le plus tôt possible.</p>

<div class="libelle">ASTUCE</div>

<p>Un excellent moyen de mesurer l’avancée de sa documentation consiste
à faire, dès le départ, une liste de ses <em>a priori</em>,
c’est-à-dire une liste de tout ce que l’on pense, de chaque sujet que l’on doit aborder.</p>

<p>C’est très facile à comprendre en ce qui concerne les métiers : si l’on écrit sur un métier que l’on ne connait pas, on va commencer par écrire, ligne après ligne, tout ce que l’on pense du métier en question : comment il se pratique au quotidien, les compétences qu’ils convoquent, le type de personnes que l’on y rencontre, etc. Ne pas oublier les points factuels tels que le nombre d’années d’étude qu’il nécessite, le salaire moyen qu’on peut obtenir, le nombre de postes qui existent en France ou dans le pays de l’histoire.</p>

<p>Thèmes concrets (l’agriculture, l’alpinisme) ou thèmes abstraits (la jalousie, la vérité), le but est donc d’écrire et de décrire le maximum de choses sur les sujets principaux qu’aborde votre histoire.</p>

<p><span class="red">ATTENTION</span></p>

<p>Attention cependant de ne pas établir une liste (trop) exhaustive de tous les thèmes que votre histoire aborde. En la regardant de près, on pense vite qu’une histoire aborde tous les thèmes de l’humanité, l’amour, l’amitié, la jalousie, le ressentiment, la joie, la reconnaissance, l’injustice, le mérite, l’existence, les doutes existentiels et j’en passe. Bien sûr que ponctuellement on trouve toujours un peu de ces sujets dans n’importe quelle histoire. La vôtre ne fera pas exception. Mais il s’agit ici de se limiter aux thèmes principaux, aux métiers principaux.</p>

<h3 id="objectif-ultime-de-la-documentation">Objectif ultime de la documentation</h3>

<p>Le travail de documentation va ensuite consister à faire le travail contraire à celui des journalistes : au lieu de chercher à conforter vos <em>a priori</em> et vos préjugés en ne voyant dans la réalité que ce qui vous arrange, vous allez chercher à réellement confronter vos croyances à la réalité que vous découvrirez, en restant ouvert<%= user.f_e %> et récepti<%= user.f_ve %> et, surtout, prêt<%= user.f_e %> à découvrir d’autres vérités que la vôtre.</p>

<p>Il y a fort à penser que plus vous avancerez dans votre documentation et plus ces points que vous aviez notés se détruisent d’eux-mêmes. Vous découvrirez avec l’habitude, si vous ne faites pas un travail de journaliste — arriver avec vos préjugés et chercher à les démontrer — que tout ce que vous imaginiez au départ est très loin de la réalité la plupart du temps.</p>

<p>Lorsque chacun des points de votre liste sera barré, ou presque, vous saurez que vous commencez à connaitre — un peu — votre sujet. ;-)</p>
</section>
<div class="liens_next_previous_pages bottom">
  <div class="cadre_links">
    <span class="lien_prev_page"></span>
    <span class="lien_main_page"><a href="unanunscript/bureau/pages">Votre bureau</a></span>
    <span class="lien_next_page"></span>
    <div class="buttons boutons_marquages right"><a href="unanunscript/page_cours/44?wid=<%= param(:wid) %>&op=set_aside" class="medium btn">Mettre la page de côté</a><a href="unanunscript/bureau/pages?op=done_work&wid=<%=param(:wid)%>" class="medium btn main">Marquer la page lue</a></div>
  </div>
</div>

