<% 
# Vue principal pour la gestion des fichiers d'analyse
%>

<% 
    param(:op) || param(:op, 'voir')
    param(:op) && afile.do_operation(param(:op))
%>

<%= header(:small) %>
<%= Analyse.main_title %>

<h3><%= simple_link("analyser/dashboard/#{afile.analyse.id}", afile.analyse.film.titre, 'nodeco') %></h3>

<% unless user.analyste? || user.admin? %>
  <div class="right">
    <%= simple_link("analyser/postuler",'→ Postuler pour devenir analyste','exergue') %>
  </div>
<% end %>

<h4><%= afile.titre_displayed %></h4>

<%= afile.buttons(:top, param(:op)) %>

<%= 

  # === AFFICHAGE DU FICHIER ===
  
  afile.output(param(:op)) %>


<%= afile.buttons(:bottom, param(:op)) %>

<div class="air small right">
  <%= simple_link("aide?p=analyse/contribuer", "→ Aide pour la contribution") %>
</div>

<%= footer(:small) %>
